.container {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding: 20px;
    background-color: #161513;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.company-logo {
        padding: 14px 16px;
        color: #ffffff;
}
.logo-text{
    color: #DA3702;
}
.navbar {
    overflow: hidden;
}
  
.navbar a, .menu-wrapper a {
    font-size: 16px;
    color: #7F7775;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a {
    float: left;
}

.navbar a:hover, .navbar a.active, .menu-wrapper a:hover, .menu-wrapper a.active {
    color: #ffffff;
}

.nav-button, .btn-submit { 
    padding: 14px 20px;
    color: #ffffff;
    background-color: #DA3702;
    border: 1px solid #DA3702;
    font-size: 16px;
    border-radius: 30px;
}

.comment-icon {
    background-image: url("../assets/Icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
}

.banner {
    position: relative;
    background-image: url('../assets/bg.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 50vw; 
    height: 50vh;
    color: #ffffff;
    text-align: center;
}

.dummy-text {
    font-size: 3em;
}

.services-block {
    display: flex;
    justify-content: center;
}

.service {
    width: 120px;
    height: 100px;
    border: 1px solid #7F7775;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
}

.service:not(:last-child) {
    margin-right: 20px;
}

.service img.staff {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.service .text {
    display: inline-block;
    margin-top: 5px;
}

.map-container {
    display: flex;
    justify-content: space-between;
}

.map-content, .map {
    padding: 2em;
}

.map {
    text-align: center;
}

.testimonials {
    background-color: #F7F7F7;
}

.testimonials h3 {
    text-align: center;
}

.tooltip-container {
    display: flex;
    padding: 2em;
    justify-content: space-between;
}

.tooltip {
    position: relative;
    width: 400px;
    min-height: 100px;
    margin: 0 2em;
    padding: 3em 2em;
    color: #7F7775;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
}

.tooltip::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 10%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.double-quote {
    font-size: 3em;
    color: #DA3702;
    margin-top: -10px;
}

.footer {
    background-color: #161513;
    color: white;
    text-align: center;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.follow-us span {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.fb {
    background-image: url('../assets/facebook.png');
}

.li {
    background-image: url('../assets/linkedIn.png');
}
.tw {
    background-image: url('../assets/twitter.png');
    background-position: 0;
}

.form-section {
    padding: 2em;
    text-align: center;
    background-image: url("../assets/footer.png");
    color: #ffffff;
}

.input-fields {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-fields input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    min-width: 180px;
}

.textarea-container {
    display: flex;
    flex-wrap: wrap;
}

.textarea-container textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    flex-grow: 1;
}

.btn-submit {
    margin-top: 10px;
    padding: 10px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    background-image: url(../assets/menu.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
    align-self: center;
}

.menu-wrapper {
    position: absolute;
    z-index: 1;
    background-color: #161513;
    width: 200px;
    top: 45px;
    left:15px;
}

.menu-wrapper a {
   display: block;
}

.icon-button {
    background-image: url("../assets/Icon-btn.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: none;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    .container, .tooltip-container {
        flex-wrap: wrap;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        display: none;
    }

    .icon-button {
        display: block;
    }

    .dummy-text {
        font-size: 1em;
    }

    .banner-content {
        width: 100%;
        height: 40vh;
    }

    .service {
        width: 95%;
        height: 60px;
        padding: 10px;
        vertical-align: middle;
    }

    .service img, .service .text{
        float: left;
    }

    .service .text {
        margin-top: 25px;
        margin-left: 20px;
    }

    .service img{
        margin-top: 0;
    }

    .map-container, .testimonials, .services-block {
        flex-direction: column;
    }

    .tooltip {
        margin-bottom: 45px;
        flex-grow: 1;
    }

    .tooltip:last-child {
        margin-bottom: 0;
    }

    .testimonials {
        display: flex;
    }

    .input-fields{
        flex-direction: column;
    }

    .input-fields input, .follow-us {
        margin-top: 10px;
    }

    .textarea-container {
        flex-wrap: wrap;
    }

    .textarea-container textarea {
        flex-grow: 1;
    }

    .footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {

    .banner-content {
        width: 100%;
        height: 50vh;
    }

    .service {
        padding: 10px;
    }
}