<div class="container">
  <header class="main-header">
    <span class="menu-icon" (click)="showRespMenu = !showRespMenu"></span>
    <div class="menu-wrapper" *ngIf="showRespMenu">
      <a href="#" class="active">About</a>
      <a href="#">Services</a>
      <a href="#">Solutions</a>
      <a href="#">Blogs</a>
    </div>

    <a href="#" class="company-logo">COMPANY <span class="logo-text">LOGO</span></a>
    <nav class="navbar">
      <a href="#" class="active">About</a>
      <a href="#">Services</a>
      <a href="#">Solutions</a>
      <a href="#">Blogs</a>
      <button class="nav-button"><span class="comment-icon"></span>Get In Touch</button>
    </nav>
    <span class="icon-button"></span>
  </header>
  <section class="banner">
    <div class="banner-content">
        <span class="dummy-text">This is dummy text. Below are the dummy services.</span>
        <div class="services-block">
           <div class="service">
                <img class="staff" src="../assets/staffing-icon-2.png"/>
                <span class="text">Service Name</span> 
           </div>
           <div class="service"> 
            <img class="staff support" src="../assets/support-icon.png"/>
             <span class="text">Service Name</span></div>
           <div class="service">
            <img class="staff" src="../assets/folder_sans_settings-128.png"/>
            <span class="text">Service Name</span>
           </div>
        </div>
    </div>
  </section>
  <section class="map-container">
    <div class="map-content">
      <h1 class="map-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="map">
      <img src="../assets/map.png" />
    </div>
  </section>
  <section class="testimonials">
    <h3>Testimonials</h3>
    <div class="tooltip-container">
      <div class="tooltip"><span class="double-quote">"</span><span class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> </div>
      <div class="tooltip"><span class="double-quote">"</span><span class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> </div>
      <div class="tooltip"><span class="double-quote">"</span><span class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> </div>
    </div>
  </section>

  <section class="form-section">
    <h1>Convinced To Work With Us?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <form>
      <div class="input-fields">
        <input type="text" placeholder="Full name"/>
        <input type="email" placeholder="Email"/>
        <input type="text" placeholder="Phone number"/>
      </div>
      <div class="textarea-container"><textarea placeholder="Message in brief" rows="4"></textarea></div>
      <input type="submit" class="btn-submit"/>
    </form>
  </section>

  <footer class="footer">
      <div class="copyrights">&#169; 2020. All rights reserved</div>
      <div class="follow-us">
        <a href="#"><span class="fb"></span></a>
        <a href="#"><span class="li"></span></a>
        <a href="#"><span class="tw"></span></a>
      </div>
    </footer>
</div>
